*{
    margin: 0px;
    padding: 0px;
    font-family: 'Arvo', serif;
}
html {
    scroll-behavior: smooth;
  }
header {
    height: 100vh;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
}
.triangle-right {
    width: 0;
    height: 0px;
    border-top: 43px solid transparent;
    border-left: 27px solid rgba(193, 219, 227,1);
    border-bottom: 43px solid transparent;
  }


.navbar{
    display: flex;
    max-width: 100vw;
    justify-content: space-between;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    width: 100%
}

.nav-list li{
    list-style: none;
    padding: 1em 1rem;
    width: 25%;
    transition: 0.5s;
    padding: auto;
    text-align: center;
}
.nav-list li {
    background-image: linear-gradient(rgba(193, 219, 227,1),rgba(193, 219, 227,1)),
                        linear-gradient(rgba(193, 219, 227,1),rgba(193, 219, 227,1)),
                        linear-gradient(rgba(193, 219, 227,1),rgba(193, 219, 227,1)),
                        linear-gradient(rgba(193, 219, 227,1),rgba(193, 219, 227,1));
    background-repeat: no-repeat;
    background-size: 4px 0%, 4px 0%, 0% 4px,0% 4px;
    background-position: left top, right bottom, left top,right bottom;
    
}
.nav-list li:hover {
    background-size: 4px 100%, 4px 100%, 100% 4px, 100% 4px;
    background-coor: black;
}

.nav-list li a{
    text-decoration: none;
    color: white;
}
#logo {
    background-color: rgb(193, 219, 227);
    width: 167px;
    height: 86px;
}

.logo{
    
    display: flex;
    align-items: center;
    padding: 10px;
    align-self: flex-start;
}
.rightNav{
    text-align: right;
    margin-top: auto;
    padding-right: 20px;
}
#search{
    padding: 5px;
    font-size: 17px;
    width: 80%;
    flex-shrink: 1;
    min-width: 10px;
    margin-top: auto;
    border-radius: 5px;
    outline: none;
    text-align: center;
}
.btn{
    width: 86px;
    height: 33px;
    border-radius: 15px;
    margin-top: 10px;
}
.list {
    height: 30px;
    display: none;
}
#about {
    height: 100vh;
    background:blue;
}
#Capa_1{
    position: relative;
    left: 50%;
}
#Capa_1 path{
    fill:rgb(193, 219, 227);
}
@media(max-width: 700px){
    .nav-list{
        order: 3;
    }
    .navbar{
        flex-wrap: wrap;
    }
    .navbar{
        flex-wrap: wrap;
    }
}

@media (max-width: 561px){
    .list{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .nav-list{
        order: 3;
        width: 100%;
        display: none;
        flex-direction: column;
        position: absolute;
        right: -200px;
        z-index: 5;
        width: 50%;
        height: 100vh;
        justify-content: flex-start;
        transition: 1s;
        background-color:rgb(55, 55, 55);
    }

    .nav-list  li{
        width: 80%;
    }
    .navbar{
        flex-direction: column;
    }
    .rightNav{
        padding-top: 10px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
    #search{
        margin-right: 10px;
    }
}