.cross {
    width: 2em;
    height: 2em;
}

.cross path,
.cross polygon,
.cross rect {
  fill: rgb(193, 219, 227);
}

.cross circle {
  stroke: rgb(193, 219, 227);
  stroke-width: 1;
}
#cross{
    display: none;
}
@media (max-width: 561px){
    #cross{
        display: block;
    }
}