.search_svg {
    width: 1.5em;
    height: 1.5em;
    margin: auto;
    margin-top: 3px;
  }
  
  .search_svg path,
  .search_svg polygon,
  .search_svg rect {
    fill: black;
  }
  
  .search_svg circle {
    stroke: black;
    stroke-width: 1;
  }
  @media (max-width: 561px){
      .search_svg {
        width: 1em;
        height: 1em;
        margin: auto;
        margin-top: 3px;
    }
    
  }